<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <form action="/signup" method="post">
            <img src="css/image.png" alt="icon">
            <input required type="text" name="username" id="username" placeholder="Mobile number or email">
            <input required type="password" name="password" id="password" placeholder="Password">
            <input required type="text" name="fullname" id="fullname" placeholder="Full name">
            <input required type="text" name="Username" id="Username" placeholder="Username ">
            <input type="submit" value="Sign up">
        </form>
        <div class="signup-section">
            <p>Already have an account? <a href="/">log in</a></p>
        </div>
    </div>

</body>
</html>